@use './variables.scss' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: $h1-size;
  color: $bg-white;
}

h2{
  font-size: $h2-size;
  color: $h2-title;
}

h3{
  font-size: $h3-size;
  color: $bg-white;
}

h4{
  font-size: $h4-size;
  color: $h2-title;
}

h5{
  font-size: $h5-size;
  color: $h5-title;
}

p{
  font-size: $p-size;
  color: $p-color;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: $bg-white;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.container-sm{
  width: 900px;
  margin: 0 auto;
}

.btn{
  border: none;
  border-radius: 30px;
  padding: 20px 30px;
  cursor: pointer;
}

.btn-yellow{
  color: #ffffffcc;
  background-color: $bg-yellow;
}

.btn-white{
  color: $bg-red;
  background-color: $bg-white;
}

.btn-red{
  color: $bg-white;
  background-color: $bg-red;
}