$bg-red: #e56768;
$bg-yellow: #e9d758;
$bg-white: #fff;
$bg-theme: #454545;
$color-theme: #7f7f7f;
$h1-size: 3.5rem;
$h2-title: #3d404f;
$h2-size: 3rem;
$h3-title: #434959;
$h3-size: 2rem;
$last-wave: #f7f8fa;